body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

header p{
font-style: italic;
}

h1{
    font-size: 28px;
}

article p{
    font-size: 24 px;
}

section{
    margin: 0;
    padding-left: 20px;
}

nav#topmenu ul{
    list-style: none;
    text-align: center;
    background-color: #444;
    padding:0;
    margin:0; 
}

nav#topmenu li{
    line-height: 40px;
    height: 40px;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    margin: 0;

}

nav#topmenu a{
    color: white;
    text-decoration: none;

}


footer{
    text-align: center;
    color: #fff;
    background-color: #444;
    bottom: 0;
    position:fixed;
    width: 100%;
    left: 0;
}