

body{
    background-color: grey;
    margin: 0;
    padding: 0;
}

nav li {
line-height: 40px;
height: 40px;
padding: 20px;
display: inline-block;
}

nav ul{
list-style: none;
background-color: black;
width: 100%;
text-align: center;
margin-top: 0;
}


nav a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}