p{
            color: red;
        }
        h1.gach-ngang {
            text-decoration: line-through;
        }
        
        dac-biet{
            font-weight: bold;
            color: red;
        }

        p#special {
            background-color: yellow;
        }